<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SVG 마커 테스트</title>
  </head>
  <body>
    <h2>SVG 마커 테스트</h2>
    <div>
        <svg width="24" height="35" viewBox="0 0 24 35" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M12 0C6.5 0 0 4 0 12C0 20 12 35 12 35C12 35 24 20 24 12C24 4 17.5 0 12 0Z" fill="#FF0000"/>
          </svg>
      </svg>
    </div>
  </body>
</html>
